.Chat-whole__Chat-side
  .Chat-whole__Chat-side__side-header
    .Chat-whole__Chat-side__side-header__user-name
      = current_user.name
    .Chat-whole__Chat-side__side-header__user-menu
      .Chat-whole__Chat-side__side-header__user-menu__edit-user
        =link_to new_group_path, class: "Chat-whole__Chat-side__side-header__user-menu__btn Chat-whole__Chat-side__side-header__user-menu__btn--edit" do
          = fa_icon 'edit'
      .Chat-whole__Chat-side__side-header__user-menu__new-group
        =link_to edit_user_path(current_user), class: "Chat-whole__Chat-side__side-header__user-menu__btn Chat-whole__Chat-side__side-header__user-menu__btn--cog" do
          = fa_icon 'cog'
  .Chat-whole__Chat-side__groups
    - current_user.groups.each do |group|
      .Chat-whole__Chat-side__groups__group
        = link_to group_messages_path(group) ,class:'side'do
          .Chat-whole__Chat-side__groups__group__group-name
            = group.name
          .Chat-whole__Chat-side__groups__group__group-message
            = group.show_last_message